* {
	box-sizing: border-box;
}

div.highlight {
	position: relative;
}


.highlighter-rouge .highlight {
	border-radius: 3px;
}

.article__link {
	text-decoration: none !important;
}


.section {
	&__title {
		font-size: 1.3em;
	}
}

blockquote {
	border-left: 13px solid #ff86c490;
	padding-left: 10px;
}

img.size {
	width: 100%;
	object-fit: cover;
}

span.tag {
	color: rgb(32, 106, 225);
	font-family: monospace;
	font-weight: bold;
	font-size: 1.36rem;
	&::after {
		content: ">"
	}
	&::before {
		content: "<"
	}
}


.footer-post {
	display: none;
}

@media(min-width: 1024px) {
	.footer-post {
		display: block;
	}
}
