div.highlight {
	position: relative;
}

.article__link {
	text-decoration: none !important;
}


.section {
	&__title {
		font-size: 1.3em;
	}
}

blockquote {
	border-left: 13px solid #ff86c490;
	padding-left: 10px;
}